
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "AdmninLayout", "Admin")
<body>
    <div class="wrapper">

        @Html.Action("PartialSidebar", "AdmninLayout", "Admin")

        @Html.Action("PartialNavbar", "AdmninLayout", "Admin")

        @RenderBody()

        @Html.Action("PartialFooter", "AdmninLayout", "Admin")

    </div>

    @Html.Action("PartialScript", "AdmninLayout", "Admin")

</body>
</html>